
   @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

   *,
   *::before,
   *::after {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
   }
   .container-carrito {
     flex-wrap: wrap;
     max-width: 1200px;
     margin-block: 2rem;
     gap: 2rem;
    display: inline-block;
    margin: 0.5%;
    padding: 2em;
    vertical-align: top;
    width: 31.9%;
    text-align: center;
   }
   
   #imagen-card-carrito {
     max-width: 100%;
     display: block;
     object-fit: cover;
   }
   
   .card-detail-categoria {
     display: flex;
     flex-direction: column;
     width: clamp(20rem, calc(20rem + 2vw), 22rem);
     overflow: hidden;
     box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
     border-radius: 1em;
     background: #ECE9E6;
   background: linear-gradient(to right, #FFFFFF, #ECE9E6);
   
   }
   
   .card__body_carrito {
     padding: 1rem;
     display: flex;
     flex-direction: column;
     gap: .5rem;
   }
   
   .tag {
     align-self: flex-start;
     padding: .25em .75em;
     border-radius: 1em;
     font-size: .75rem;
   }
   
   .tag + .tag {
     margin-left: .5em;
   }
   
   .tag-blue {
     background: #56CCF2;
   background: linear-gradient(to bottom, #2F80ED, #56CCF2);
     color: #fafafa;
   }
   
   .tag-brown {
     background: #D1913C;
   background: linear-gradient(to bottom, #FFD194, #D1913C);
     color: #fafafa;
   }
   
   .tag-red {
     background: #cb2d3e;
   background: linear-gradient(to bottom, #ef473a, #cb2d3e);
     color: #fafafa;
   }
   
   .card__body h4 {
     font-size: 1.5rem;
     text-transform: capitalize;
   }
   
   .card__footer {
     display: flex;
     padding: 1rem;
     margin-top: auto;
   }
   
   .user {
     display: flex;
     gap: .5rem;
   }
   
   .user__image {
     border-radius: 50%;
   }
   
   .user__info > small {
     color: #666;
   }
   
/* BOTON ELIMINAR */
.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: rgb(5, 5, 5);
    border: none ;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 5px;
   }
   
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:   #fadbd8  ;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
.btn:hover::before {
    transform: translateX(0);
   }

.contenedor-btn-borrarTodos{
  text-align: center;
  justify-content: center; 
  margin: 5px 5px 20px 5px;
}
.btn-detalleCompra{
  background-color: #191919;
  padding: 10px 30px;
  font-size: 20px;
  transition: .5s ease all;
  color: rgb(252, 249, 249);
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  font-family: sans-serif;
}
.btn-detalleCompra:hover{
  box-shadow: 0px 0px 30px 1px #881111;
}

.btn-borrarTodos{ 
  background-color: #191919;
  height: 50px;
  padding: 10px 30px;
  font-size: 20px;
  margin-top: 50px;
  transition: .5s ease all;
  color: rgb(252, 249, 249);
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  font-family: sans-serif;
}

.btn-borrarTodos:hover{
  box-shadow: 0px 0px 30px 1px #881111;
}

.total{
  color:white;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 100px;
  font-family: sans-serif;
}

.titulo-NohayProductos{
  color:white;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 100px;
  font-family: sans-serif;
}
.contenedor-noHayProductos{
    display: flex;
    text-align: center;
    justify-content: center; 
    margin: 5px 5px 20px 5px;
  
}
.btn-acomprar{
  background-color: #191919;
  padding: 10px 30px;
  font-size: 20px;
  margin-left: 44%;
  transition: .5s ease all;
  color: rgb(252, 249, 249);
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  
}
.btn-acomprar:hover{
  box-shadow: 0px 0px 30px 1px #881111;
}

