body{
   
    background-color: #191919;
}

.barraPrincipal{  
    background-color: #191919;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 5px;
    z-index: 999;
    text-align: center;
    font-family: sans-serif;   
    margin-bottom: 50px;
    opacity: 0.9;
} 

.nav-boton{
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    
    margin: 0 10px;
    transition: .5s ease all;
    color: white;
    text-decoration: none;
}
.nav-boton:hover{
    transform: translateY(18px);
    background-color: #191919;
}

