*{
    box-sizing: border-box;
 }

.contenedor1{
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap; 
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    margin-bottom: 25px;
}
.card {
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

.imagen-producto{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.botton1:hover{
    background-color: pink;
}
.botton2:hover{
    background-color: greenyellow;
}